@media (max-width: 544px) {
  html {
    @include respond-to("tiny") {
      font-size: 52.5%;
    }
  }
}


.wrapper {
  margin: 0 auto;
  padding: 30px 30px;
}

.separator {
  border: solid 5px;
  margin: auto;
  color: lightgray;
}
