// Config file and project variables

// font stacks
$font-stack-common    : 'Lora', sans-serif; // common font
$font-stack-headings  : 'Open Sans', sans-serif; // headings font

// color scheme
$color1    : #555; //base
$color2    : #fff; //link
$color3    : #555; //base-background
$color4    : #1EAEDB; // link hover
$color5    : #33C3F0; // brand primary
